<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body" *ngIf='products && products.length'>
        <pm-filter-by (filterValueChanged)='onFilterValueChanged($event)' ></pm-filter-by>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                    (click)='toggleImage()' >
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th>5 Start Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productNameFilter: productFilter'>
                        <td><img *ngIf='showImage'
                                 [src]='product.imageUrl' 
                                 [title]='product.productName'
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'/> </td>
                        <td><a [routerLink]="['/products', product.productId]" >{{product.productName}}</a></td>
                        <td>{{product.productCode | lowercase}}</td>
                        <td>{{product.price | currency:'AUD': false : '1.2-2' }}</td>
                        <td>{{product.releaseDate}}</td>
                         <td> <pm-star [starRating]='product.starRating' (ratingClicked)='onRatingClicked($event)' ></pm-star> </td> 
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>

    <div class="panel-body" *ngIf='noProductsFound'>
        <div class="row">
            <div class="col-md-6">Sorry no products found.</div>
        </div>
    </div>

    <div *ngIf='messages && messages.length' >
        <div *ngFor='let message of messages' > {{message}} </div>
    </div>

    <div *ngIf='errorMessage'>
        <b>Error:</b> {{ errorMessage }}
    </div>
</div>